<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/header.ejs') %>


    <div class="detalle__boton--edit">
        <a href="/products/edicion/<%= id %>"><button class="card-btn1">
                edit product</button></a>
    </div>

        <main class="main-detalledeproducto">
            <section class="detalle-imagenes">
                <div class="detalle-img--conteiner">
                    <!-- Slider main container -->
                    <div class="swiper swiper-imagenes">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide"><img class="detalle-imagen1"
                                    src="/images/detalle-producto/joy-blanco.png" alt=""></div>
                            <div class="swiper-slide"><img class="detalle-imagen2"
                                    src="/images/detalle-producto/cargador-2.png" alt=""></div>
                            <div class="swiper-slide"> <img class="detalle-imagen3"
                                    src="/images/detalle-producto/cargador-1.png" alt=""></div>
                            ...
                        </div>
                        <!-- If we need pagination -->
                        <div class="swiper-pagination"></div>

                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </section>

            <section class="descripcion-detalle">
                <div class="descripciones">

                    <div class="titulos">
                        <h2 class="titulo-1">
                            <%=name%>
                        </h2>
                    </div>
                    <div class="rank">
                        <p>
                            <%=subCategory%>
                        </p>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>


                        </div>
                        <p>(103)</p>
                    </div>
                    <div class="description-22">
                        <div class="category-product">

                            <div class="sub">
                                <h3>DESCRIPCIÓN :
                                </h3>
                                <h4>
                                    <%=description%>
                                </h4>

                            </div>
                        </div>

                    </div>
                    <div class="tarjetas-detalle">
                        <div class="metodos" style="color:white;">
                            <h3>metodos de pago:</h3>
                        </div>
                        <img src="/images/tarjetas.png" alt="">
                    </div>
                    <div class="envios">
                        <h3>metodos de envío:</h3>
                        <h4>envios gratis a todo el pais</h4>
                    </div>
                    <div class="description">
                        <h5>Diseñado para satisfacer las ...</h5>
                        <button class="read-btn">read more</button>


                    </div>
                    <h3 class="colores">colores:</h3>
                    <div class="otros-colores">

                        <div class="color1">
                            <div class="imagen-right">
                                <img src="/images/detalle-producto/joy-negro.png" alt="">
                            </div>
                        </div>
                        <div class="color2">
                            <div class="imagen-left">
                                <img src="/images/detalle-producto/joy-violeta.png" alt="">
                            </div>

                        </div>

                    </div>
                </div>
            </section>


            </section>
        </main>
        <div class="add-carrito">
            <div class="sub-header">
                <div class="detalle__precio--box">
                    <% if (discount) { %>

                        <div>
                            <span class="detalle__precio--original">$<%= toThousand(Math.round(price)) %></span>
                            <span class="detalle__precio--barra">/</span>
                            <b class="detalle__precio--porcentaje">
                                <%= discount %>% OFF
                            </b>

                            <p class="detalle__precio--descuento">
                                $<%= toThousand(Math.round(price - (price * discount) / 100))%>
                            </p>
                        </div>
                        <% } else { %>
                            <p class="detalle__precio--sincambio">
                                $<%= toThousand(Math.round(price)) %>
                            </p>

                            <% } %>
                                <div class="cantidad-producto">
                                    <h5 class="detalle__cantidad">cantidad:</h5>
                                    <button>+</button>
                                    <input type="number">
                                    <button>-</button>
                                </div>
                                <a href="/products/carrito"><button class="card-btn">
                                        add to card</button></a>

                </div>
            </div>
        </div>

         <!--whatsapp-->
         <%- include('../partials/whatsApp.ejs') %>
        <!-- footer -->
        <%- include('../partials/footer.ejs') %>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

            <script>
                const swiper = new Swiper('.swiper-imagenes', {
                    // Optional parameters
                    direction: 'horizontal',
                    loop: true,
                    // If we need pagination
                    pagination: {
                        el: '.swiper-pagination',
                    },
                    // Navigation arrows
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                });
            </script>

</body>

</html>