<!DOCTYPE html>
<html lang="en">

<!-- Head -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Next Game | Edicion</title>
    <script src="https://kit.fontawesome.com/89a4980149.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <!-- Header -->
    <%- include('../partials/header.ejs') %>

    <main class="edition">
        <div class="edition-container">
            <h1 class="edition-titular">Est치s editando: <i>Art. <%= id %></i></h1>
            <section class="edition-form">
                <form action="/products/edicion/<%= id %>?_method=PUT"
                    method="POST" novalidate>
                    <div class="edition-form-box">
                        <label for="name">Nombre del Producto</label>
                        <input type="text" id="name" name="name" value="<%= name %>">
                    </div>
                    <div class="edition-form-box">
                        <label for="edition-products">Seleccion치 una Opci칩n</label>
                        <select id="edition-products" name="category">
                            <option value="" >Selecciona...</option>
                            <option value="Nuevo" <%= category === "Nuevo" && 'selected'%>>Nuevo</option>
                            <option value="in-sale" <%= category === "in-sale" && 'selected'%>>Oferta</option>
                            <option value="Envio Gratis" <%= category === "Envio Gratis" && 'selected'%>>Envio Gratis</option>
                        </select>
                    </div>
        
                    <div class="edition-form-box">
                        <label for="description">Descripcion</label>
                        <textarea name="description" id="description" value="" class="edicion__texto"><%= description %></textarea>
                    </div>
                    <div class="submit-btn--crear" id="crear__color">
                        <input type="file" id="image" name="image" class="submit-btn--crear__buscar">
                        <label for="image">
                          <i class="fa-solid fa-image"></i><br>
                          <div class="submit-btn--crea__nombrearchi">
                            <span><%= image %></span>
                          </div>
                        </label>
                      </div>
                    <div class="edition-form-box">
                        <label for="edition-products">Seleccion치 la Categoria</label>
                        <select id="edition-products" name="subCategory">
                            <option value="products-edition" >Categorias...</option>
                            <option value="Perifericos" <%= subCategory === "Perifericos" && 'selected'%>>Perifericos</option>
                            <option value="Juegos" <%= subCategory === "Juegos" && 'selected'%>>Juegos</option>
                            <option value="Gifts Cards" <%= subCategory === "Gifts Cards" && 'selected'%>>Gifts Cards</option>
                            <option value="Consolas" <%= subCategory === "Consolas" && 'selected'%>>Consolas</option>
                            <option value="Notebooks" <%= subCategory === "Notebooks" && 'selected'%>>Notebooks</option>
                            <option value="Accesorios" <%= subCategory === "Accesorios" && 'selected'%>>Accesorios</option>
                        </select>
                    </div>

                    <div class="edition-form-box">
                        <label for="price">Precio Actual</label>
                        <input type="number" id="price" name="price" value="<%= price %>" required>
                    </div>

                    <div class="swtich-container-edition">
                        <input type="checkbox" id="swtich-edit">   Descuento  <label for="swtich-edit" class="edit-swtich"></label>
                        <input type="number" id="discount" name="discount" value="<%= discount %>">
                    </div>

                    <div class="edition-form-box-button">
                        <a href="/products/remove/<%- id %>" class="edition-form-box-button__a"><span class="buton1">Eliminar Producto</span></a>
                        <button type="submit" class="edition-form-box-button__a">Confirmar Edicion</button>
                        <button type="reset" class="edition-form-box-button__a">Cancelar</button>
                    </div>
                </form>
            </section>
        </div>
    </main>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>

    <script src="/javascripts/buscarimagen.js"></script>
</body>

</html>