<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <%- include('partials/header') %> 
    
        <div class="home__main--titulo">
            <h2>TODOS LOS PRODUCTOS</h2>
        </div>

        <section class="home__main__section">
			<% products.forEach(({id,image,price,discount,name,category,subCategory}) => { %>
				<%- include('./partials/product',{
					id,
					image,
					price,
					discount,
					name,
                    category,
                    subCategory
				}) %>
			<% }) %>
        </section>
        
    
	 <!--whatsapp-->
     <%- include('./partials/whatsApp.ejs') %>

    <%- include('partials/footer') %>
</body>
</html>