<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/header') %> 
    
        <main>
             
            <div class="">
                <table class="dashboard__table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Imagen</th>
                            <th>Precio</th>
                            <th>Descuento</th>
                            <th>Estado</th>
                            <th>Categoria</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% products.forEach(({id,name,image,price,discount,category,subCategory}) => { %>
                            <tr>
                               <td><%= id %></td>
                               <td><%= name %></td>
                               <td><img src="/images/products/<%= image %>"></td>
                               <td><%= price %></td>
                               <td><%= discount %></td>
                               <td><%= category %></td>
                               <td><%= subCategory %></td>
                               <td>asd</td>
                            </tr>
                           <% }) %>
                    </tbody>

                </table>

            </div>
        </main>
</body>
</html>