<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('partials/header') %>

            <div class="home__main--titulo">
                <h2>
                 
                <% if( locals.subName ){ %>
                    <%= locals.subName %>
                <% } else { %>
                      PRODUCTOS
                <% } %>
                </h2>
            </div>

                    <section class="home__main__section">
                        <% products.forEach(({id,image,price,discount,name,state,subcategories})=> { %>
                            <%- include('./partials/product',{ id, image, price, discount, name, state, subcategories })
                                %>
                                <% }) %>
                    </section>

                            <!--whatsapp-->
                            <%- include('./partials/whatsApp.ejs') %>

                                <%- include('partials/footer') %>

                                    <!-- fixed -->
                                    <script src="/javascripts/fixed.js"></script>
    </body>

</html>