<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <%- include('partials/header') %> 
    
        <div class="home__main--titulo">
            <h2>TODOS LOS PRODUCTOS</h2>
        </div>

        <div>
            <form action="/products" method="GET" autocomplete="off">
                <div>
                    <input type="search" name="searchallprodu" id="searchallprodu" class="dashboardp__buscador" placeholder="Buscar Producto" title="¿Que desea Buscar?">
                    <button class="dashboardp__lupa"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </form>
        </div>

        <section class="home__main__section">
			<% products.forEach(({id,image,price,discount,name,category,subCategory}) => { %>
				<%- include('./partials/product',{
					id,
					image,
					price,
					discount,
					name,
                    category,
                    subCategory
				}) %>
			<% }) %>
        </section>
        
        <% if (!products.length) { %>
            <h2 class="dashboard__sn">No se encontro producto</h2>
        <% }%>
    
	 <!--whatsapp-->
     <%- include('./partials/whatsApp.ejs') %>

    <%- include('partials/footer') %>
</body>
</html>