<header class="headeradmin">
    <div>
        <a href="/"><img class="headeradmin__logo" src="/images/next-games-nuevologo-horizontal.png" alt="logo"></a>
    </div>

    <section class="headeradmin__section">
        <article class="header__menu1">
            <div class="menu-hamburguesa" id="headeradmin-hamburger">
                <i class="fa-solid fa-bars"></i>

                <nav class="header__nav1">
                    <div class="header__nav--navegacion " id="headeradmin-hamburger__position">
                        <ul class="headeradmin__ul">
                            <li class="header__nav--navegacion--primaria"><a href="/" id="headeradmin-color"><i class="fa-solid fa-house"></i></a></li>
                            <li class="header__nav--navegacion--primaria"><a href="/admin/dashboardProduct" id="headeradmin-color">Productos</a></li>
                            <li class="header__nav--navegacion--primaria"><a href="/admin/dashboardUser" id="headeradmin-color">Usuarios</a></li>
                            <li class="header__nav--navegacion--primaria"><a href="/users/profile/<%= userLogin.id %>" id="headeradmin-color"> <img class="header__avatar--image" src="/images/users/<%= userLogin.image ? userLogin.image : " default-image.png"%>" alt=""><span class="headeradmin__saludo">Hola</span>, <%= locals.userLogin.firstName %></a></li>
                            <li class="header__nav--navegacion--primaria"><a href="/users/logout" id="headeradmin-color">SALIR</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </article>
    </section>


    <section class="headeradmin__section2">
            <nav class="headeradmin__nav">
                <ul>
                    <li class="header__nav--navegacion--primaria"><a href="/" id="headeradmin-color-home"><i class="fa-solid fa-house"></i></a></li>
                    <li><a href="/admin/dashboardProduct" id="headeradmin-color">Productos</a></li>
                    <li><a href="/admin/dashboardUser" id="headeradmin-color">Usuarios</a></li>
                </ul>    
                <ul>
                    <li><a href="/users/profile/<%= userLogin.id %>" id="headeradmin-color"> <img class="headeradmin__avatar--image" src="/images/users/<%= userLogin.image ? userLogin.image : " default-image.png"%>" alt=""><span class="headeradmin__saludo">Hola</span>, <%= locals.userLogin.firstName %></a></li>
                    <li><a href="/users/logout" id="headeradmin-color">SALIR</a></li>
                </ul>
            </nav>
    </section>
</header>