<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>
    <!-- Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <body class="headeradmin_body" id="arriba">
        <%- include('../partials/headerAdmin.ejs') %>

            <main>

                <div class="home__main--titulo" id="headeradmin__titulo"><span
                        class="headeradmin__tituloletra">PRODUCTOS</span></div>


        <section class="dashboardp__section--nav">
        <div class="dashboardp__nav">
               <button type="button" class="btn btn-primary btn-lg" id="dashboardadmin__button"><a href="/products/createItem" id="headeradmin-color">Agregar Producto</a></button>

                    <form action="/admin/dashboardProduct" method="GET" autocomplete="off">
                        <div>
                            <input type="search" name="searchprodu" id="searchprodu" class="dashboardp__buscador" placeholder="Buscar Producto" title="¿Que desea Buscar?">
                            <button class="dashboardp__lupa"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </form>
        </div>
        </section>

                <div class="table-responsive{-sm|-md|-lg|-xl|-xxl}">
                    <table class="table table-striped" id="headeradmin__table">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col" class="dashboard--id">#</th>
                                <th scope="col" class="dashboard--name">Nombre</th>
                                <th scope="col" class="dashboard--price">Precio</th>
                                <th scope="col" class="dashboard--discount">Descuento</th>
                                <th scope="col" class="dashboard--total">Total</th>
                                <th scope="col" class="dashboard--category">Estado</th>
                                <th scope="col" class="dashboard--subCategory">Categoria</th>
                                <th scope="col" class="dashboard--image">Imagen</th>
                                <th scope="col" class="dashboard--accion">Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="table-light">
                            <% products.forEach(({id,name,image,price,discount,category,subCategory})=> { %>
                                <tr>
                                    <th scope="row" class="dashboard--id">
                                        <%= id %>
                                    </th>
                                    <td class="dashboard--name">
                                        <%= name %>
                                    </td>
                                    <td class="dashboard--price">
                                        <%= toThousand(price) %>
                                    </td>
                                    <td class="dashboard--discount">
                                        <%= discount %>%
                                    </td>
                                    <td class="dashboard--total">
                                        <% if (discount) { %>
                                            $<%= toThousand(Math.round(price - (price * discount) / 100))%>
                                                <% }else{ %>
                                                    $<%= toThousand(Math.round(price)) %>
                                                        <% } %>
                                    </td>
                                    <td class="dashboard--category">
                                    <% if (category === "in-sale") { %>
                                        <span>Oferta</span>
                                    <% } %>
                                    <% if (category === "newer") { %>
                                        <span>Nuevo</span>
                                    <% } %>
                                    <% if (category === "normally") { %>
                                        <span>Normal</span>
                                    <% } %>
                                    </td>
                                    <td class="dashboard--subCategory">
                                        <%= subCategory %>
                                    </td>
                                    <td class="dashboard--image"><img class="dashboard--img"
                                            src="/images/products/<%= image %>"></td>
                                    <td class="dashboard--accion">
                                        <div class="d-flex gap-2">
                                            <a class="btn btn-sm btn-primary"
                                                href="/products/detalle-producto/<%= id %>"><i
                                                    class="far fa-eye"></i></a>
                                            <a class="btn btn-sm btn-success" href="/products/edicion/<%= id %>"><i
                                                    class="far fa-edit"></i></a>
                                            <a class="btn btn-sm btn-danger" href="/products/remove/<%- id %>"><i
                                                    class="fas fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>

                    </table>
                </div>

                
        <% if (!products.length) { %>
            <h2 class="dashboard__sn">No se encontro producto</h2>
        <% }%>

        <section class="dashboard--flecha">
            <a href="#arriba"><i class="fa-solid fa-arrow-up"></i></a>
        </section>
    

            </main>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
                crossorigin="anonymous"></script>
    </body>

</html>