<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body>

  <%- include('../partials/header.ejs') %>



    <main>
      <div class="split-screen">

        <div class="left-register">
          <div class="titles">
            <h1>Start your gaming journey with us</h1>
            <h2 class="titulo-register1">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</h2>

          </div>
        </div>


        <div class=" right-register">
          <form method="POST" action="/users/register">
            <section class="titles-register">
              <div class="titles-left">
                <h2 class="titulo-register1">CREA TU CUENTA</h2>
                <h3 class="titulo-register2">Ya tenes una cuenta? ingresa <a class="aca" href="/users/login">aca</a>
                </h3>
              </div>
              <div class="login-register">
                <button class="google">
                  <img src="/images/google-icon.png" alt="logo-google" class="log">
                  Sign up with Google
                </button>

            </section>
            <div class="divider">
              <span class="orSpan">
                or</span>
              <hr class="hr-register">

            </div>

            <div class="card">
              
              <div class="forms">
                
                <div class="name">
                  <div class="avatar-register">
                  <input type="file" name="image"  class="input-avatar-register" style="color: white; font-size: 10px; padding: 10px;">
                  <label for=""><div class="register-box"></div>
                    <i class="fa-solid fa-user"></i></label>
                </div>

                  <input type="text" name="firstName"  required style="color: white;" class="<%= (locals.errors && errors.firstName) && 'is-invalid'%>" value="<%= (locals.old && old.firstName) && old.firstName %>">
                  <label for="">Nombre</label>
                  <small class="text danger"><%= locals.errors && errors.firstName ? errors.firstName.msg : null %></small>

                  <input type="text" name="lastName"  required style="color: white;" value="<%= (locals.old && old.surname) && old.surname   %>" class="form-control  <%= (locals.errors && errors.surname) && 'is-invalid'%>" id="surname" name="surname">
                  <label for="">Apellido</label>
                  <small class="text danger" >   <%= locals.errors && errors.lastName ? errors.lastName.msg : null %></small>

                  <input type="text" name="user"  style="color: white;"  value="" class="">
                  <label for="">Usuario</label>
                  <small class="text danger ">  <%= locals.errors && errors.user ? errors.user.msg : null %></small>
                  

                  <input type="email" name="email" required style="color: white;"  value="<%= (locals.old && old.email) && old.email %>  " class="<%= (locals.errors && errors.email) && 'is-invalid'%>">
                  <label for="">E-mail</label> 
                  <small class="text danger ">  <%= locals.errors && errors.email ? errors.email.msg : null %></small>

                  <input type="password" name="password" required style="color: white;" value="" class="<%= (locals.errors && errors.password) && 'is-invalid'%>">
                  <label for="">Contraseña</label>
                  <small class="text danger ">   <%= locals.errors && errors.password ? errors.password.msg : null %></small>

                  

                </div>
                <button type="submit" class="guardar">registrar</button>

              </div>
            </div>
          </form>
        </div>

      </div>

    </main>

     <!--whatsapp-->
     <%- include('../partials/whatsApp.ejs') %>
    <!-- footer -->
    <%- include('../partials/footer.ejs') %>

</body>

</html>