<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>

            <main class="main-detalledeproducto">
                <div class="main-detalledeproducto-boxOne">
                    <section class="detalle-imagenes">
                        <div class="detalle-img--conteiner">
                            <!-- Slider main container -->
                            <div class="swiper swiper-imagenes">
                                <!-- Additional required wrapper -->
                                <div class="swiper-wrapper">
                                    <!-- Slides -->
                                    <% images.forEach(image => { %>
                                        <!--slide-->
                                        <div class="swiper-slide">
                                            <img src="/images/products/<%= image %>" class="img-detalle-carrusel">
                                        </div>
                                        <% }) %>
                                </div>
                                <!-- If we need pagination -->
                                <div class="swiper-pagination"></div>

                                <!-- If we need navigation buttons -->
                                <div class="swiper-button-prev" id="boton__prev"></div>
                                <div class="swiper-button-next" id="boton__next"></div>
                            </div>
                        </div>
                    </section>

                    
                    <section class="detalle-carrito" id="datalle__ocult1">
                        <div>
                            <% if (discount) { %>
                                <span class="detalle__precio--original">$<%= toThousand(Math.round(price)) %></span>
                                <span class="detalle__precio--barra">/</span>
                                <b class="detalle__precio--porcentaje">
                                    <%= discount %>% OFF
                                </b>
                                <p class="detalle__precio--descuento">
                                    $<%= toThousand(Math.round(price - (price * discount) / 100))%>
                                </p>
                                <% } else { %>
                                    <p class="detalle__precio--sincambio">
                                        $<%= toThousand(Math.round(price)) %>
                                    </p>
                                    <% } %>
                        </div>
                        <div class="detalle__add-card">
                            <div>
                                <h5 class="detalle__cantidad">cantidad:</h5>
                                <button>-</button>
                                <input type="number" style="width: 30px;">
                                <button>+</button>
                            </div>
                            <div>
                                <a href="/products/carrito"><button class="card-btn">
                                       Agregar Carrito</button></a>
                            </div>
                        </div>
                    </section>
                </div>

                


                <section class="descripcion-detalle">
                    <div class="descripciones">

                        <div class="titulos">
                            <h2 class="titulo-1">
                                <%=name%>
                            </h2>
                        </div>
                        <div class="rank">
                            <p>
                                <%=subCategory%>
                            </p>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>


                            </div>
                            <p>(103)</p>
                        </div>


                        <div class="description-22">
                            <div class="category-product">

                                <div class="sub">
                                    <h3>DESCRIPCIÓN :
                                    </h3>
                                    <h4>
                                        <%=description%>
                                    </h4>

                                </div>
                            </div>

                        </div>
                        <div class="box-metodos">
                            <div class="tarjetas-detalle">
                                <div class="metodos" style="color:white;">
                                    <h3>metodos de pago:</h3>
                                </div>
                                <img src="/images/tarjetas.png" alt="">
                            </div>
                            <div class="envios">
                                <h3>metodos de envío:</h3>
                                <h4>envios gratis a todo el pais</h4>
                            </div>
                        </div>

                        <div class="description--more">
                            <h3 id="description--more">DESCRIPCIÓN :
                            </h3>
                            <p>...<span id="dots"></span>
                                <span id="more"><%= description %></span>
                            </p>
                            <button onclick="myFunction()" id="myBtn" class="read-btn">Read less</button>


                        </div>
                    </div>
                </section>

                <section class="detalle-carrito" id="datalle__ocult2">
                    <div>
                        <% if (discount) { %>
                            <span class="detalle__precio--original">$<%= toThousand(Math.round(price)) %></span>
                            <span class="detalle__precio--barra">/</span>
                            <b class="detalle__precio--porcentaje">
                                <%= discount %>% OFF
                            </b>
                            <p class="detalle__precio--descuento">
                                $<%= toThousand(Math.round(price - (price * discount) / 100))%>
                            </p>
                            <% } else { %>
                                <p class="detalle__precio--sincambio">
                                    $<%= toThousand(Math.round(price)) %>
                                </p>
                                <% } %>
                    </div>
                    <div class="detalle__add-card2">
                        <div>
                            <h5 class="detalle__cantidad">cantidad:</h5>
                            <button>-</button>
                            <input type="number" style="width: 30px;">
                            <button>+</button>
                        </div>
                        <div>
                            <a href="/products/carrito"><button class="card-btn2">
                                Agregar Carrito</button></a>
                        </div>
                    </div>
                </section>


            </main>


            <!--whatsapp-->
            <%- include('../partials/whatsApp.ejs') %>
                <!-- footer -->
                <%- include('../partials/footer.ejs') %>

                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
                        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
                        crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

                    <script>
                        const swiper = new Swiper('.swiper-imagenes', {
                            // Optional parameters
                            direction: 'horizontal',
                            loop: true,
                            // If we need pagination
                            pagination: {
                                el: '.swiper-pagination',
                            },
                            // Navigation arrows
                            navigation: {
                                nextEl: '.swiper-button-next',
                                prevEl: '.swiper-button-prev',
                            },
                        });
                    </script>

                    <script>
                        function myFunction() {
                            var dots = document.getElementById("dots");
                            var moreText = document.getElementById("more");
                            var btnText = document.getElementById("myBtn");
                          
                            if (dots.style.display === "none") {
                              dots.style.display = "inline";
                              btnText.innerHTML = "Read more";
                              moreText.style.display = "none";
                            } else {
                              dots.style.display = "none";
                              btnText.innerHTML = "Read less";
                              moreText.style.display = "inline";
                            }
                          }
                    </script>

    </body>

</html>