<!DOCTYPE html>
<html lang="en">

<!-- Head -->

<%- include('../partials/head.ejs') %>

    <body>
        <!-- Header -->
        <%- include('../partials/headerAdmin.ejs') %>

            <main class="edition">
                <div class="edition-container">
                    <h1 class="edition-titular">Estás editando: <i>Art. <%= id %></i></h1>
                    <section class="edition-form">
                        <form action="/products/edicion/<%= id %>?_method=PUT" method="POST"
                            enctype="multipart/form-data" novalidate>

                            <section>
                                <div class="edition-form-box">
                                    <label for="name">Nombre del Producto</label>
                                    <small class="text-crear"><%= locals.errors && errors.name ? errors.name.msg : null %></small>
                                    <input type="text" id="name" name="name"  value="<%= locals.old && old.name ? old.name : name %>">
                                </div>
                            </section>

                            <section>
                                <div class="edition-form-box">
                                    <label for="price">Precio</label>
                                    <small class="text-crear"><%= locals.errors && errors.price ? errors.price.msg : null %></small>
                                </div>
                                <div class="edition-form-box">
                                    <input type="number" name="price" id="price" value="<%= price %>">
                                </div>
                            </section>

                            <section>
                                <div class="edition-form-box">
                                    <label for="discount">Descuento</label>
                                    <small class="text-crear"><%= locals.errors && errors.discount ? errors.discount.msg : null %></small>
                                </div>
                                <div class="edition-form-box">
                                    <input type="number" name="discount" id="discount" value="<%= discount %>">
                                </div>
                            </section>

                            <section>
                                <div class="edicion__subtitulos">Imagen del Producto</div>
                                <small class="text-crear"><%= locals.errors && errors.image ? errors.image.msg : null %></small>
                                <div class="submit-btn--crear" id="crear__color">
                                    <input type="file" id="image" name="image" class="submit-btn--crear__buscar3"
                                        value="<%= image %>">
                                    <label for="image">
                                        <i class="fa-solid fa-image"></i><br>
                                        <div class="submit-btn--crea__nombrearchi3">
                                            <span>
                                                <%= image %>
                                            </span>
                                        </div>
                                    </label>
                                </div>
                            </section>
                            <!--imagenes-->

                            <section>
                                <div class="edicion__subtitulos">Imagenes del Producto</div>
                                <small class="text-crear"><%= locals.errors && errors.images ? errors.images.msg : null %></small>
                                <div class="submit-btn--crear" id="crear__color">
                                    <input type="file" class="submit-btn--crear__buscar2" id="images" name="images" value="<%= images.length + " Imagenes seleccionadas" %>" multiple>
                                    <label for="images">
                                        <i class="fa-solid fa-image"></i><br>
                                        <div class="submit-btn--crea__nombrearchi2">
                                            <span>
                                                <%= images.length + " Imagenes seleccionadas" %>
                                            </span>
                                        </div>
                                    </label>
                                </div>
                            </section>

                            <section>
                                <div class="edition-form-box">
                                    <label for="edition-products">Seleccioná la Categoria</label>
                                    <small class="text-crear"><%= locals.errors && errors.subCategory ? errors.subCategory.msg : null %></small>
                                    <select id="edition-products" name="subCategory">
                                        <option value="Perifericos" <%=subCategory==="Perifericos" && 'selected' %>
                                            >Perifericos</option>
                                        <option value="Juegos" <%=subCategory==="Juegos" && 'selected' %>>Juegos
                                        </option>
                                        <option value="Gifts Cards" <%=subCategory==="Gifts Cards" && 'selected' %>
                                            >Gifts Cards</option>
                                        <option value="Consolas" <%=subCategory==="Consolas" && 'selected' %>>Consolas
                                        </option>
                                        <option value="Notebooks" <%=subCategory==="Notebooks" && 'selected' %>
                                            >Notebooks</option>
                                        <option value="Accesorios" <%=subCategory==="Accesorios" && 'selected' %>
                                            >Accesorios</option>
                                    </select>
                                </div>
                            </section>

                            <section>
                                <div class="edition-form-box">
                                    <label for="edition-products">Estado del Producto</label>
                                    <small class="text-crear"><%= locals.errors && errors.category ? errors.category.msg : null %></small>
                                    <select id="edition-products" name="category">
                                        <option value="newer" <%=category==="newer" && 'selected' %>>Nuevo</option>
                                        <option value="normally" <%=category==="normally" && 'selected' %>>Normal</option>
                                        <option value="in-sale" <%=category==="in-sale" && 'selected' %>>Oferta</option>
                                    </select>
                                </div>
                            </section>

                            <section>
                                <div class="edition-form-box">
                                    <label for="description">Descripcion</label>
                                    <small class="text-crear"><%= locals.errors && errors.description ? errors.description.msg : null %></small>
                                    <textarea name="description" id="description" value=""
                                        class="edicion__texto"><%= description %></textarea>
                                </div>
                            </section>


                            <div class="edition-form-box-button">
                                <button type="submit" class="edition-form-box-button__a">Confirmar Edicion</button>
                                <a href="/products/remove/<%- id %>" class="edition-form-box-button__a"><span
                                        class="buton1">Eliminar Producto</span></a>
                                <a href="/admin/dashboardProduct" class="edition-form-box-button__a"><span
                                        class="edicion-form-box-button__letra">Cancelar</span> </a>
                            </div>
                        </form>
                    </section>
                </div>
            </main>
            <script src="/javascripts/buscarimagen.js"></script>
            <!-- Footer -->
            <%- include('../partials/footer.ejs') %>
    </body>
</html>