<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>
<body>

    <%- include('../partials/header.ejs') %>

  <main>
   
    <div>
        <img class="nosotros__img" src="/images/Nextgamesimg.jpg" alt="">
    </div>   
    
    <section id="about">
      <div class="nosotros_container">
        <p>Somos una tienda en línea especializada en la venta de videojuegos, consolas, periféricos, notebooks y gift cards. Nos apasiona brindar a nuestros clientes la mejor experiencia en el mundo de los videojuegos.</p>
        <p>En Next Games, nos esforzamos por ofrecer una amplia selección de productos de alta calidad, trabajando en colaboración con los principales fabricantes y desarrolladores de la industria del gaming. Nuestro objetivo es satisfacer las necesidades de los jugadores tanto casuales como profesionales.</p>
        <p>Además de nuestra tienda en línea, contamos con un equipo de expertos que brinda asesoramiento y soporte personalizado a nuestros clientes. Estamos comprometidos en ofrecer un excelente servicio al cliente y garantizar una experiencia de compra segura y conveniente.</p>
        <p>¡Únete a nuestra comunidad de gamers y descubre el mundo de Next Games!</p>
      </div>
    </section>

<div>
  <img class="nosotros__img--final" src="/images/next-games-nuevologo-horizontal.png" alt="">
</div>
  
  </main>

  <%- include('../partials/carrito.ejs') %>
  <%- include('../partials/whatsApp.ejs') %>
 <%- include('../partials/footer.ejs') %>
<script src="/javascripts/fixed.js"></script>
</body>

</html>