<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/loader.ejs') %>
            <%- include('../partials/header.ejs') %>


                <div>
                    <h1 class="home__main--titulo devolucion--titulo">Política de Devoluciones</h1>
                </div>

                <div class="devolucion__conteiner">
                    <h2><span class="devolucion__h2--span">Devoluciones de Productos</span></h2>
                    <p>En Next Games nos esforzamos por ofrecer una experiencia de compra satisfactoria. Si por alguna
                        razón
                        necesitas devolver un producto, te ofrecemos las siguientes opciones:</p>
                    <ul>
                        <li><strong class="devolucion__strong">Devolución con Reembolso:</strong> Si no estás satisfecho
                            con tu compra, puedes
                            solicitar la devolución del producto dentro de los 30 días posteriores a la fecha de compra
                            para
                            recibir un reembolso completo.</li>
                        <li><strong class="devolucion__strong">Cambio de Producto:</strong> Si deseas cambiar el
                            producto por otro de igual o mayor
                            valor, también ofrecemos la opción de cambio de producto dentro de los 30 días posteriores a
                            la
                            fecha de compra.</li>
                    </ul>

                    <h2><span class="devolucion__h2--span">Condiciones de Devolución</span></h2>
                    <p>Para ser elegible para una devolución o cambio de producto, se deben cumplir las siguientes
                        condiciones:</p>
                    <ul>
                        <li>El producto debe estar en su estado original, sin abrir y sin usar, con todas las etiquetas
                            y
                            envoltorios originales.</li>
                        <li>El producto debe ser devuelto junto con todos los accesorios y componentes originales.</li>
                        <li>Debes presentar el comprobante de compra original (factura, recibo, etc.).</li>
                        <li>El producto no debe estar incluido en las excepciones de devolución que se detallan a
                            continuación.</li>
                    </ul>

                    <h2><span class="devolucion__h2--span">Proceso de Devolución</span></h2>
                    <p>Si deseas realizar una devolución o cambio de producto, sigue estos pasos:</p>
                    <ul>
                        <li>Comunícate con nuestro servicio de atención al cliente dentro del plazo de devolución de 30
                            días
                            para informar sobre la devolución o cambio y obtener un número de autorización de
                            devolución.
                        </li>
                        <li>Empaca el producto de manera segura en su embalaje original junto con todos los accesorios y
                            componentes.</li>
                        <li>Incluye una copia del comprobante de compra original dentro del paquete.</li>
                        <li>Envía el paquete a nuestra dirección de devoluciones utilizando un servicio de envío
                            confiable.
                            Es responsabilidad del cliente cubrir los gastos de envío de la devolución, a menos que se
                            haya
                            producido un error por parte de Next Games.</li>
                    </ul>

                    <h2><span class="devolucion__h2--span">Reembolsos y Cambios</span></h2>
                    <p>Una vez que recibamos y verifiquemos el producto devuelto, procederemos a realizar el reembolso o
                        cambio según tu solicitud. Ten en cuenta lo siguiente:</p>
                    <ul>
                        <li>Los reembolsos se realizarán utilizando el mismo método de pago utilizado en la compra
                            original
                            y se procesarán dentro de un plazo razonable una vez recibida la devolución.</li>
                        <li>Los cambios de producto están sujetos a disponibilidad. Si el producto solicitado para el
                            cambio
                            no está disponible, te ofreceremos alternativas o un reembolso.</li>
                        <li>No reembolsaremos los gastos de envío originales, a menos que se haya producido un error por
                            parte de Next Games.</li>
                        <li>Reservamos el derecho de deducir los costos asociados con el envío y manejo de la devolución
                            del
                            monto total del reembolso o cambio, si corresponde.</li>
                    </ul>

                    <h2><span class="devolucion__h2--span">Excepciones</span></h2>
                    <p>Algunos productos pueden estar sujetos a restricciones adicionales de devolución debido a su
                        naturaleza o uso. Estas excepciones se detallarán claramente en la página de descripción del
                        producto y podrían incluir productos digitales, tarjetas de regalo o artículos personalizados.
                        Por
                        favor, asegúrate de revisar las condiciones de devolución específicas antes de realizar tu
                        compra.
                    </p>

                    <h2><span class="devolucion__h2--span">Contacto</span></h2>
                    <p>Si tienes alguna pregunta o necesitas más información sobre nuestra política de devoluciones, no
                        dudes en contactarnos a través de nuestros canales de atención al cliente. Estamos aquí para
                        ayudarte.</p>
                </div>






                <%- include('../partials/carrito.ejs') %>
                    <%- include('../partials/whatsApp.ejs') %>
                        <%- include('../partials/footer.ejs') %>
                            <script src="/javascripts/fixed.js"></script>
                            <script src="/javascripts/loader.js"></script>
    </body>

</html>