<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/loader.ejs') %>
            <%- include('../partials/header.ejs') %>

                <div>
                    <h1 class="home__main--titulo term--titulo">Política de Privacidad</h1>
                </div>

                <p class="privacidad__p">En Next Games, la privacidad de nuestros usuarios es de suma importancia. Esta
                    Política de Privacidad
                    describe cómo recopilamos, utilizamos y compartimos la información personal que obtenemos a través
                    de
                    nuestro sitio web.</p>

                <div class="privacidad__conteiner">
                    <h2><span class="privacidad__h2--span">Información que recopilamos</span></h2>
                    <p>Para brindar nuestros servicios y procesar las compras, podemos recopilar cierta información
                        personal, que puede incluir:</p>
                    <ul>
                        <li>Nombre y apellidos</li>
                        <li>Dirección de correo electrónico</li>
                        <li>Dirección de envío</li>
                        <li>Número de teléfono</li>
                        <li>Información de pago (por ejemplo, datos de tarjeta de crédito)</li>
                    </ul>

                    <h2><span class="privacidad__h2--span">Uso de la información recopilada</span></h2>
                    <p>Utilizamos la información recopilada para los siguientes propósitos:</p>
                    <ul>
                        <li>Procesar y completar pedidos de productos</li>
                        <li>Comunicarnos con los usuarios sobre sus pedidos y consultas</li>
                        <li>Enviar información sobre promociones, ofertas especiales y actualizaciones</li>
                        <li>Mejorar nuestros productos y servicios</li>
                        <li>Realizar análisis de datos y estudios de mercado</li>
                        <li>Cumplir con las obligaciones legales y reglamentarias</li>
                    </ul>

                    <h2><span class="privacidad__h2--span">Compartir información con terceros</span></h2>
                    <p>Podemos compartir la información personal con terceros únicamente en las siguientes
                        circunstancias:
                    </p>
                    <ul>
                        <li>Proveedores de servicios: podemos compartir información con terceros que nos ayuden a
                            brindar
                            servicios, como procesamiento de pagos, envío de productos y análisis de datos.</li>
                        <li>Cumplimiento legal: podemos divulgar información si así lo exige la ley o si consideramos de
                            buena fe que es necesario para cumplir con una obligación legal.</li>
                        <li>Consentimiento del usuario: podemos compartir información con terceros si obtenemos el
                            consentimiento del usuario para hacerlo.</li>
                    </ul>

                    <h2><span class="privacidad__h2--span">Seguridad de la información</span></h2>
                    <p>Con arreglo a lo dispuesto en los arts. 9 y 10 de la Ley 25.326 de Protección de los Datos
                        Personales, el Titular de la Base de Datos se obliga a cumplir con la obligación de secreto
                        respecto de los datos contenidos en su Base de Datos, salvo en aquellos casos en que la ley
                        autoriza a revelar la información personal. El Titular de la Base de Datos ha adoptado los
                        niveles de seguridad de protección de datos personales exigidos en la legislación vigente,
                        implementando al efecto las medidas técnicas y organizativas necesarias para evitar la pérdida,
                        mal uso, alteración, acceso no autorizado y demás riesgos posibles. Habiendo adoptado todas las
                        medidas de seguridad exigidas por la legislación vigente, el Titular de la Base de Datos no se
                        hace responsable por interceptaciones ilegales o violación de su Base de Datos por parte de
                        personas no autorizadas. El Titular de la Base de Datos tampoco se hace responsable por la
                        indebida utilización de la información obtenida por esos medios ilegítimos.</p>

                    <h2><span class="privacidad__h2--span">Cookies y tecnologías similares</span></h2>
                    <p>Utilizamos cookies y tecnologías similares para mejorar la experiencia del usuario, personalizar
                        el
                        contenido y analizar el uso del sitio web. Al utilizar nuestro sitio, el usuario acepta el uso
                        de
                        cookies</p>

                    <h2><span class="privacidad__h2--span">Enlaces a sitios web de terceros</span></h2>
                    <p>Nuestro sitio web puede contener enlaces a sitios web de terceros. Esta Política de Privacidad se
                        aplica únicamente a nuestro sitio, por lo que recomendamos revisar las políticas de privacidad
                        de
                        los sitios web de terceros que se visiten.</p>

                    <h2><span class="privacidad__h2--span">Acceso y actualización de información personal</span></h2>
                    <p>Los usuarios tienen derecho a acceder, corregir y eliminar su información personal. Para hacerlo,
                        pueden ingresar a su perfil o comunicarse con nosotros a través de los medios proporcionados en
                        nuestro sitio web.</p>

                    <h2><span class="privacidad__h2--span">Cambios a esta Política de Privacidad</span></h2>
                    <p>Podemos actualizar esta Política de Privacidad ocasionalmente. Se recomienda revisar esta página
                        periódicamente para conocer cualquier cambio. Al continuar utilizando nuestro sitio web después
                        de
                        cualquier modificación, se considerará que el usuario acepta los cambios realizados.</p>

                    <h2><span class="privacidad__h2--span">Contacto</span></h2>
                    <p>Si tienes preguntas o inquietudes sobre nuestra Política de Privacidad, no dudes en ponerte en
                        contacto con nosotros a través de los medios proporcionados en nuestro sitio web.</p>
                </div>




                <%- include('../partials/carrito.ejs') %>
                    <%- include('../partials/whatsApp.ejs') %>
                        <%- include('../partials/footer.ejs') %>
                            <script src="/javascripts/fixed.js"></script>
                            <script src="/javascripts/loader.js"></script>
    </body>

</html>