<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/headerAdmin') %> 
    
       <% if (userName === "nextgamesAdmin") { %>
        <section class="remove__section">
        <div class="col-12">
            <h2 class="remove__titulo">¡ADVERTENCIA!</h2>
        </div>

        <h3 class="remove__name">No se puede eliminar el usuario <%- userName %> ya que es Administrador Principal de la paguina.</h3><br><br>
        <div class="remove__buttoms">
        <button class="remove__buttom"><a href="/admin/dashboardUser">Cancelar</a></button>
    </div>
    </section>
       <% } else { %>
        <section class="remove__section">
            <div class="col-12">
                       <h2 class="remove__titulo">¡ADVERTENCIA!</h2>
                   </div>
              
                   <h3 class="remove__name">Si eliminas el Usuario <%- userName %> no podra recuperarlo</h3><br><br>
                       <h5 class="remove__confirm">¿Estas seguro que quieres continuar?</h5>
                   <div class="remove__buttoms">
                       <form action="/users/removeuser/<%- id %>?_method=DELETE" method="post" id="form-delete-user">
                       <button type="submit" class="remove__buttom">Borrar</button>
                   </form>
                   <button class="remove__buttom"><a href="/admin/dashboardUser">Cancelar</a></button>
               </div>
                   </section>
        <% } %>

         <!-- SweetAlert-->
         <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
         <script src="/javascripts/useralertdelete.js"></script>
    
</body>
</html>